@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0 ,0, 0, 0.2)), url("/bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

::-webkit-scrollbar {
  width: 8px;
  cursor: pointer;
}

::-webkit-scrollbar-track {
	background: #555;
  width: 8px;
}

::-webkit-scrollbar-thumb {
	background: #121212;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #242424;
}

* {
  scrollbar-width: thin; 
  scrollbar-color: #121212 #3c3c3c ; 
}

@supports (scrollbar-color: auto) {
  *:hover {
    scrollbar-color: #242424 #555;
  }
}